<div class="row">
  <h2 class="text-white mx-auto mb-5 font-weight-bold">{{event.eventName}}</h2>
  <div class="col-12 card text-white text-center d-flex pr-4 pl-4 pt-3 pb-3 justify-content-center mb-4" *ngFor="let artist of event.artists">
    <div class="row">
      <div class="col-6 text-left">
        <span class="card-title">{{artist.artist}}</span>
      </div>
      <div class="col-6 text-right">
        <span><span *ngIf="artist.hour == 0">00</span><span *ngIf="artist.hour != 0">{{artist.hour}}</span> : <span *ngIf="artist.minute == 0">00</span><span *ngIf="artist.minute != 0">{{artist.minute}}</span></span>
      </div>
    </div>
  </div>
</div>

